.main-container {
  display: flex;
  margin-top: 56px;
}

.side-menu {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  width: 180px;
  border-right: 1px solid rgb(214, 217, 220);
}

.profile-main {
  flex-grow: 1;
}

.profile-top__image-container{}

.profile-top__image {
  flex: 0 1 auto;
  max-width: 143px;
  max-height: 143px;
  margin: 25px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
}

.user-info__username {
  font-size: 34px;
}

.user-info__title{}


.user-info__icon-item {
  color: 6A737C;
  list-style: none;
  font-size: 11px;
  display: inline-block;
  padding: 0 7px 0 0;
}

.setting__buttons {
  display: flex;
  flex: 3;
  margin: 15px 40px 0 0;
}

.setting__button {
  height: 30px;
}
.edit {
  width: 100px;
  margin: 0px 10px 0px 0px;
}

.delete {
  width: 104px;
}

/* .border {
  border: 1px solid var(--black-100);
  padding: 9.6px;
  border-radius: 7px;
  font-size: 12px;
} */


.profile-content__changed-section{}
