.detail-container {
  display: flex;
  margin-top: 56px;
}

.side-menu {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  width: 180px;
  border-right: 1px solid rgb(214, 217, 220);
}

.post-detail__main {
  flex-grow: 1;
}

.post__header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 20px;
  width: 60%;
  border-bottom: 1px solid rgb(214, 217, 220);
}

.post__header-title {
  font-size: 27px;
  color: rgb(35, 38, 41);
}

.post__header-meta {
  display: flex;
}

.post__content {
}

.post__create-answer {
}

.post__create-title {
  font-size: 19px;
  font-weight: 400;
  color: rgb(35, 38, 41);
}

.post__create-editor {
}

.post__create-button {
  margin: 2px 0;
  background-color: rgb(10, 149, 255);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  padding: 0 10.4px;
  color: white;
  height: 37px;
  width: min-content;
}

.post__create-button:hover {
  background-color: hsl(206, 100%, 40%);
}

.post__create-button:active {
  background-color: hsl(206, 100%, 35%);
  border: 4px solid rgb(225, 236, 244);
}
