* {
display: flex;
flex : 1 0 0 ;
font-size: 16px;
box-sizing: border-box;
}

body {
    background-color: rgb(214, 217, 220);
    display: flex;
    justify-content: center;
  }
 
.question__container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
.question__wrapper{
    background-color: white;
}

.top__container{
    display: flex;
    justify-content: space-between;
}

#home__title{
    font-size: 27px;
    color: black;
}

#askQuestion__Button{
    font-size: 13px;
    padding: 10px;
    background-color: #0a95ff;
}
.question_wrapper{
    display: flex;
}

.post__summary{
    align-items: center;
}

.answer__summary{
    display: flex;
    margin : 0px 16px 4px 0px;
}

.vote__count{
    color:black;
    display: flex;
    justify-content: space-between;
}
.vote__number{
    color:black;
}

.vote__name{
    color: #6a737c;
}

.answer__count{
    color: #6a737c;
}

.answer__name{
    color: #6a737c;
}

.view__count{
    color: #6a737c;
}

.view__name{
    color: #6a737c;
}

.question__title{
    font-size: 17px;
    align-items: center;
}

.answerer__container{
    display: flex;
    justify-content: space-between;
}

.answerer__colorbox{
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin: 10px;
  display: inline-block;
}

.answerer__name{
    color: #0074cc;
}