.modal__content {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;

    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    opacity: 1;
    padding: 0px 0px 0px 15px;

    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.exit__button {
    position: absolute;
    top: 8px;
    right: 11px;
    height: 30px;
    weight: 30px;
}

.delete__button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    text-align: left;
}

.cancle__button {
    background-color: white;
    border: none;
    padding: 5px 5px 5px 15px;
}