* {
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    --black-200: #333333; 
    --black-100: hsl(210,8%,75%);
}

.container {
    display: flex;
    flex-direction: column;    
}

        .top__line {
            display: flex;
            flex-direction: row;
            margin: 10px 0 0 0;
        }

                img {
                    flex: 0 1 auto;
                    max-width: 143px;
                    max-height: 143px;
                    margin: 25px;
                }
        
                .user__box {
                    display: flex;
                    flex-direction: column;
                    flex: 4;
                    justify-content: center;
                }
                        
                                .username {
                                    font-size: 34px;
                                }

                                .icon1 {    
                                    color: 6A737C;
                                    list-style: none;
                                    font-size: 11px;
                                    display: inline-block;
                                    padding: 0 7px 0 0;
                                }
                
                .button__box {
                    display: flex;
                    flex: 3;
                    margin: 15px 40px 0 0;
                }

                        .button {
                            height: 30px;
                        }
                                .edit {
                                    width: 100px;
                                    margin: 0px 10px 0px 0px;
                                }

                                .delete {
                                    width: 104px;
                                }


                        .border {
                            border: 1px solid var(--black-100);
                            padding: 9.6px;
                            border-radius: 7px;
                            font-size: 12px;
                        }

        .profile__contents {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 100%;
            padding: 15px 60px 15px 25px;
        }
        
                .contents__title {
                    font-size: 21px;
                    margin: 0 0 5px 0;
                }
                .contents__box {
                    justify-content: space-around;
                    flex: 1;
                    margin: 0 0 20px 0;
                    padding: 30px;
                    text-align: center;
                }