.post {
    display: flex;
}

.post__info {}

.post__info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post__info-item {
    
}

.post__content {}

.post__content-title {}

.post__content-text {}

.post__meta {}

.post__meta-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post__meta-item {}