.profile-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 15px 60px 15px 25px;
}

.profile-contents__section {
}

.about {
}

.profile-contents__title {
  font-size: 21px;
  margin: 0 0 5px 0;
  color: #0074cc;
}

.profile-contents__about-content {
}

.profile-contents__box {
}
